<div class="sidebar" data-image="../assets/img/sidebar-5.jpg">
  <!--
Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

Tip 2: you can also add an image using data-image tag
-->
  <div class="sidebar-wrapper">
    <div class="logo">
      <a href="http://www.creative-tim.com" class="simple-text">
        中国移动
      </a>
    </div>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link " >
<!--          <i class="nc-icon nc-chart-pie-35"></i>-->
          <p>东南销售：</p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" >
<!--          <i class="nc-icon nc-circle-09"></i>-->
          <p>东湖销售：</p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link">
<!--          <i class="nc-icon nc-circle-09"></i>-->
          <p>合计销售：</p>
        </a>
      </li>
    </ul>
  </div>
</div>
<div class="main-panel">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg " color-on-scroll="500" >
    <div class="container-fluid" style="text-align: center">
      <a class="navbar-brand" style="text-align: center"> 校园营销信息汇总 </a>
    </div>
  </nav>
  <!-- End Navbar -->
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 col-xs-12">
          <div class="col-md-12 col-xs-12">
            <div class="card ">
              <div class="card-header ">
                <h4 class="card-title">2019 东湖东南营销数据</h4>
                <p class="card-category">各校区营销比例</p>
              </div>
              <div class="card-body ">
                <app-pie-chart></app-pie-chart>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-xs-12">
          <div class="card ">
            <div class="card-header ">
              <h4 class="card-title">2019 各小组营销数据</h4>
              <p class="card-category">各团队营销比例</p>
            </div>
            <div class="card-body ">
              <app-bar-chart></app-bar-chart>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
