<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
<!--      <img src="../assets/img/login.png" id="icon" alt="User Icon" />-->
    </div>

    <!-- Login Form -->
    <form style="margin-top: 10%" #LoginForm="ngForm" (ngSubmit)="onSubmit(LoginForm.value)">
      <input type="text" id="login" class="fadeIn second" ngModel name="name" placeholder="姓名" required="required">
      <input type="number" id="password" class="fadeIn third" ngModel name="phone" placeholder="手机号" pattern="0-9" required="required">
      <input type="submit" class="fadeIn fourth" value="登陆" style="margin-top: 5%">
    </form>
    <div id="formFooter">
      中国移动校园营销
    </div>

  </div>
</div>
