
<div class="card">
  <div class="card-header">
    <h4 class="card-title">号码信息填写</h4>
  </div>
  <div class="card-body">
    <form #saleform="ngForm">
      <div class="row">
        <div class="col-md-12 col-xs-12">
          <div class="form-group">
            <label>营销号码</label>
            <input type="number" id="phone" ngModel name="phone"  #phone="ngModel" required [pattern]="phoneRegex" class="form-control" placeholder="营销号码"/>
          </div>
          <div id="errormessage" *ngIf="phone.touched">
            <div *ngIf="phone.errors">
              <!--                <div  *ngIf="phone.errors.required" class="showerr alert alert-danger">需要填写内容</div>-->
              <div  *ngIf="phone.errors.pattern" class="showerr alert alert-danger">需要填写11位手机号码</div>
            </div>
          </div>
        </div>
<!--        <div class="col-md-6 col-xs-12">-->
<!--          <div class="form-group">-->
<!--            <label>小组</label>-->
<!--            <select class="form-control" ngModel name="team">-->
<!--              <option>1</option>-->
<!--              <option>2</option>-->
<!--              <option>3</option>-->
<!--              <option>4</option>-->
<!--              <option>5</option>-->
<!--            </select>-->
<!--          </div>-->
<!--        </div>-->
      </div>
      <div class="row">
        <div class="col-md-12 col-xs-12">
          <div class="form-group">
            <label>备注</label>
            <textarea type="text"  ngModel name="note" class="form-control" placeholder="备注" style="height: 100px"></textarea>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-info btn-fill"  style="margin:2% 0" (click)="onSubmit(saleform)">提交信息</button>
      <div class="clearfix"></div>
    </form>
  </div>
</div>
