<div class="sidebar" data-image="../assets/img/sidebar-5.jpg">
  <!--
Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

Tip 2: you can also add an image using data-image tag
-->
  <div class="sidebar-wrapper">
    <div class="logo">
      <a href="http://www.creative-tim.com" class="simple-text">
        中国移动
      </a>
    </div>
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link " [routerLink]="['/userindex']">
          <i class="nc-icon nc-chart-pie-35"></i>
          <p>营销登记</p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/profile']">
          <i class="nc-icon nc-circle-09"></i>
          <p>用户信息</p>
        </a>
      </li>
    </ul>
  </div>
</div>
