<app-navbar></app-navbar>
<div class="main-panel">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg " color-on-scroll="500">
    <div class="container-fluid" style="text-align: center">
      <a class="navbar-brand" style="text-align: center"> 个人信息</a>
      <button href="" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-bar burger-lines"></span>
        <span class="navbar-toggler-bar burger-lines"></span>
        <span class="navbar-toggler-bar burger-lines"></span>
      </button>
    </div>
  </nav>
  <!-- End Navbar -->
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 col-xs-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">营销人员信息登记</h4>
            </div>
            <div class="card-body">
              <form #userprofile="ngForm">
                <div class="row">
                  <div class="col-md-6 col-xs-12">
                    <div class="form-group">
                      <label>姓名</label>
                      <input type="text" class="form-control" ngModel name="name"  placeholder="姓名" value="{{user.name}}" required>
                    </div>
                  </div>
                  <div class="col-md-6 col-xs-12">
                    <div class="form-group">
                      <label>联系方式</label>
                      <input type="number" class="form-control" ngModel name="phone" placeholder="手机号码" value="{{user.phone}}" required>
                    </div>
                  </div>

                </div>
                <div class="row">
                  <div class="col-md-6 col-xs-12">
                    <div class="form-group">
                      <label>性别</label>
                      <select class="form-control" ngModel name="gender" required>
                        <option value="1">男</option>
                        <option value="2">女</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6 col-xs-12">
                    <div class="form-group">
                      <label >学院</label>
                      <select class="form-control" ngModel name="college">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                          <div class="col-md-6 col-xs-12">
                            <div class="form-group">
                              <label>小组</label>
                              <select class="form-control" ngModel name="team">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                              </select>
                            </div>
                          </div>
                  <div class="col-md-6 col-xs-12">
                    <div class="form-group">
                      <label >校区</label>
                      <select class="form-control" ngModel name="campus" required>
                        <option value="1">东南</option>
                        <option value="2">东湖</option>
                      </select>
                    </div>
                  </div>
                </div>
                <button type="submit" class="btn btn-info btn-fill pull-right" (click)="onSubmit(userprofile)">更新信息</button>
                <div class="clearfix"></div>
              </form>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
