<app-mnavbar></app-mnavbar>
<div class="main-panel">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg " color-on-scroll="500">
    <div class="container-fluid" style="text-align: center">
      <a class="navbar-brand" style="text-align: center"> 营销信息登记 </a>
      <button href="" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-bar burger-lines"></span>
        <span class="navbar-toggler-bar burger-lines"></span>
        <span class="navbar-toggler-bar burger-lines"></span>
      </button>
    </div>
  </nav>
  <!-- End Navbar -->
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 col-xs-12">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><b>团队营销号码总数量:</b><p style="display: inline;color: #761c19;margin-left: 10%">{{TeamScore}}</p></h5>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-xs-12">
          <div class="card strpied-tabled-with-hover">
            <div class="card-header ">
              <h4 class="card-title">团队发展信息</h4>
            </div>
            <div class="card-body  table-responsive" style="padding-bottom: 0px;margin-bottom: 0px">
              <table class="table table-hover table-striped" style="width: 100%;padding-bottom:0px;margin-bottom: 0px ">
                <thead style="position: flexed;">
                <th style="width: 40%">姓名</th>
                <th style="width: 40%;padding-right: 0px">数量</th>
                </thead>
              </table>
            </div>
            <div class="card-body  table-responsive" style="height: 600px;overflow: scroll">
              <table  class="table table-hover table-striped" style="width: 100%">
                <tbody *ngFor="let sale of TeamList">
                  <tr style="background-color: rgba(0,0,0,0)">
                    <td style="width: 45%;padding: 12px 0"> {{sale.name}}</td>
                    <td style="width: 55%;padding: 12px 0;display: table-cell;vertical-align: middle;">
                      {{sale.salenum}}</td>
                  </tr>
                </tbody>
                </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
 <app-footer></app-footer>
</div>
