<footer class="footer">
  <div class="container-fluid">
    <nav>
      <p class="copyright text-center">
        ©
        <script>
          document.write(new Date().getFullYear())
        </script>
        <a href="http://www.10086.com">中国移动</a>, 2019年营销团队
      </p>
    </nav>
  </div>
</footer>
