<app-mnavbar></app-mnavbar>
<div class="main-panel">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg " color-on-scroll="500">
    <div class="container-fluid" style="text-align: center">
      <a class="navbar-brand" style="text-align: center"> 营销信息登记 </a>
      <button href="" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-bar burger-lines"></span>
        <span class="navbar-toggler-bar burger-lines"></span>
        <span class="navbar-toggler-bar burger-lines"></span>
      </button>
    </div>
  </nav>
  <!-- End Navbar -->
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card strpied-tabled-with-hover col-md-12 col-xs-12" >
            <h3><b>总销量：</b>{{salenum}}</h3>
          </div>
        </div>
        <div class="col-md-12">
          <app-record-sale></app-record-sale>
        </div>
        <div class="col-md-12 col-xs-12">
          <div class="card strpied-tabled-with-hover col-md-12 col-xs-12" >
            <div class="card-header ">
              <h4 class="card-title">营销记录</h4>
            </div>
            <div class="card-body  table-responsive" style="padding-bottom: 0px;margin-bottom: 0px">
              <table class="table table-hover table-striped" style="width: 100%;padding-bottom:0px;margin-bottom: 0px ">
                <thead >
                <!--                  <th style="width: 26%">编号</th>-->
                <th style="width: 45%">号码</th>
                <th style="width: 55%;padding-right: 0px;display: table-cell">时间</th>
                </thead>
              </table>
            </div>
            <div class="card-body  table-responsive" style="height: 300px;overflow: scroll">
              <table  class="table table-hover table-striped" style="width: 100%">
                <tbody *ngFor="let sale of sales">
                <tr style="background-color: rgba(0,0,0,0)">
                  <td style="width: 45%;padding: 12px 0"> {{sale.phonenum}}</td>
                  <td style="width: 55%;padding: 12px 0;display: table-cell;vertical-align: middle;"> {{sale.createdAt | date:'MM月dd日 HH:mm'}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
