<!-- Navbar -->
<nav class="navbar navbar-expand-lg " color-on-scroll="500">
  <div class="container-fluid" style="text-align: center">
    <a class="navbar-brand" style="text-align: center"> 营销信息登记 </a>
    <button href="" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
      aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-bar burger-lines"></span>
      <span class="navbar-toggler-bar burger-lines"></span>
      <span class="navbar-toggler-bar burger-lines"></span>
    </button>
  </div>
</nav>
<!-- End Navbar -->